.about__main{
    background-color:darken($color: grey, $amount: 40);
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-top: 1%
};

.about__text{
    color: darken($color: white, $amount: 10);
    padding: 1rem;
    border: double 5px darken($color: orange, $amount: 20);
    font-family: Helvetica, Arial, sans-serif;
    
}


.about__circleIMG{
   

    border-radius: 50%;
    background-image: url('../../fotoscv/pppc.JPG');
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s ease-in;

    &:hover{
        background-image: url('../../fotoscv/hoverpic.JPG');
        background-size: cover;
        object-fit: fill;
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: center;
        }
}


.about__textTilt{
    color: wheat;
    max-height: 23rem;

}
.about__textLeft{
    grid-area: l;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.10s ease-in;
    &:hover{
        color:white;
        }


}

.about__NameText{
    font-size: 110%;
    transition: ease 100s;
    color: whitesmoke;


}

.about__textCenter{
    grid-area: c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
text-align: center;

    &:hover{
        color: white;
    }


  

}
.about__textRight{
    grid-area: r;

    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;


    &:hover{
        color: white;
    }


}


.MIS_REDES{
    transition: 0.1s ease;
    
    &:hover{color:lighten($color: yellow, $amount: 40);}
}

//////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) {

   
    .about__circleIMG{


        width: auto;
        height: 26vh;
    
        }
     
       

}



//////////////////////////////////////////////////////////////////////

@media screen and (min-width: 992px) {


    .about__circleIMG{


    width: 30vh;

    height: 35vh;

    }

}

//////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1024px) {

   
    .about__circleIMG{


        width: 20vh;
    
        height: 23vh;
    
        }
     
}

//////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1230px) {

   
    .about__circleIMG{


        width: 20vw;

        height: 35vh;
    
        }
     
}
