.footer__main{
    background: darken($color: rgba(139, 79, 0, 0.3), $amount: 15);
    height: 30vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid orange;
    padding:3rem;


.footer__ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding:0;
    margin: 1vh;

    }
}

.footer__li{
    list-style: none;
    text-decoration: none;
    .footer__a{
        color: darken($color: orange, $amount: 17);
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
            color:indianred;
        }

   
    }
}
