.form__contenedor{
    padding: 2rem;
    display: flex;

    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid red;
    border-radius: 50%;
    height: 32rem;
    background: rgb(26,26,26);
    background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ;
}

.form__button{

    margin-left: 30%;
}
@media screen and (max-width: 360px) {
    .form__contenedor{
        padding-left: 2rem;
        padding-right: 2rem;
        height: auto;
        width: 20rem;

    }
   }
   

